link(rel='shortcut icon',  href='public/img/favicon/favicon.ico')
link(rel='icon', type='image/png',  href='public/img/favicon/96.png', sizes='96x96')
link(rel='icon', type='image/png',  href='public/img/favicon/32.png', sizes='32x32')
link(rel='icon', type='image/png',  href='public/img/favicon/16.png', sizes='16x16')
link(rel='icon', type='image/png',  href='public/img/favicon/192.png', sizes='192x192')

//- Manifest.json
link(rel='manifest', href='public/img/favicon/manifest.json')

//- Icons for iPhone, iPad, etc.
link(rel='apple-touch-icon',  href='public/img/favicon/57.png', sizes='57x57')
link(rel='apple-touch-icon',  href='public/img/favicon/114.png', sizes='114x114')
link(rel='apple-touch-icon',  href='public/img/favicon/72.png', sizes='72x72')
link(rel='apple-touch-icon',  href='public/img/favicon/144.png', sizes='144x144')
link(rel='apple-touch-icon',  href='public/img/favicon/60.png', sizes='60x60')
link(rel='apple-touch-icon',  href='public/img/favicon/120.png', sizes='120x120')
link(rel='apple-touch-icon',  href='public/img/favicon/76.png', sizes='76x76')
link(rel='apple-touch-icon',  href='public/img/favicon/152.png', sizes='152x152')
link(rel='apple-touch-icon',  href='public/img/favicon/180.png', sizes='180x180')

//- SVG icon
link(rel='icon', type='image/svg+xml', href='public/img/favicon/min.svg')
